In [1]:
import csv
import pandas as pd
import hashlib

In [2]:
def getUsername(str):
    str = str.lower()
    str = str.split("/")[1]
    tmp = str.split("-", 1)
    repo = tmp[0]
    str = tmp[1]
    if (str[0:8] == "updated-"):
        str = str.split("-", 1)[1]
    return repo, str
    
str = 'wwu-csci-145/lab1-updated-joshMyersdean-lickball'
getUsername(str)

('lab1', 'joshmyersdean-lickball')

## Repos

In [3]:
usernames = []
usernames_hash = []
labs = []

with open('./data/raw/repositories.csv') as csvfile:
    repos = csv.reader(csvfile, delimiter=',')
    next(repos)
    for row in repos:
        tmp = getUsername(row[0])
        lab = tmp[0]
        username = tmp[1]
        
        labs.append(lab)
        
        usernames.append(username)
        
        hash_object = hashlib.md5(username.encode())
        hex_dig = hash_object.hexdigest()
        usernames_hash.append(hex_dig)

data = pd.read_csv('./data/raw/repositories.csv')
data['username'] = usernames
data['username_hash'] = usernames_hash
data['lab'] = labs
data.to_csv('./data/processed/repo_hash.csv', index=False)
data.head()

,repo_name,commits_count,username,username_hash,lab
0,wwu-csci-145/lab1-joshmyersdean,7,joshmyersdean,63717453c62cabdc95b1357180229d83,lab1
1,wwu-csci-145/lab1-Hansel-Guzman-Soto,3,hansel-guzman-soto,bbf1dcb119b50489abcca68d39ae65e5,lab1
2,wwu-csci-145/lab1-Samuel-herr,5,samuel-herr,130d28d5ea9b9301d046b2a2134fa78f,lab1
3,wwu-csci-145/lab1-Mitch-Johnso,7,mitch-johnso,88dbaa988ae1c5f30d8002a8c6a3f6fb,lab1
4,wwu-csci-145/lab1-Julia-Jacky,4,julia-jacky,5239a564c6ee70bcdc34ce6d6b72c70d,lab1

In [21]:
data = pd.read_csv('./data/processed/repo_hash.csv')
data = data.drop('repo_name', 1)
data = data.drop('username', 1)
data.to_csv('./data/processed/repo_hash.csv', index=False)
data.head()

   commits_count                     username_hash   lab
0              7  63717453c62cabdc95b1357180229d83  lab1
1              3  bbf1dcb119b50489abcca68d39ae65e5  lab1
2              5  130d28d5ea9b9301d046b2a2134fa78f  lab1
3              7  88dbaa988ae1c5f30d8002a8c6a3f6fb  lab1
4              4  5239a564c6ee70bcdc34ce6d6b72c70d  lab1

## Commits

In [24]:
usernames = []
usernames_hash = []
labs = []

with open('./data/raw/commits.csv') as csvfile:
    repos = csv.reader(csvfile, delimiter=',')
    next(repos)
    for row in repos:
        tmp = getUsername(row[0])
        lab = tmp[0]
        username = tmp[1]
        
        labs.append(lab)
        
        usernames.append(username)
        
        hash_object = hashlib.md5(username.encode())
        hex_dig = hash_object.hexdigest()
        usernames_hash.append(hex_dig)

data = pd.read_csv('./data/raw/commits.csv')
data['username'] = usernames
data['username_hash'] = usernames_hash
data['lab'] = labs
data.to_csv('./data/processed/commit_hash.csv', index=False)
data.head()

,repo_name,repo_index,timestamp,comment,changes,build_state,tests_passed,tests_run,username,username_hash,lab
0,wwu-csci-145/lab1-joshmyersdean,2,2019-01-10T01:19:57Z,Update README.md\n\nfixed readme,8,passed,2147483647,2147483647,joshmyersdean,63717453c62cabdc95b1357180229d83,lab1
1,wwu-csci-145/lab1-joshmyersdean,2,2019-01-10T01:18:57Z,updated everything,4,passed,2147483647,2147483647,joshmyersdean,63717453c62cabdc95b1357180229d83,lab1
2,wwu-csci-145/lab1-joshmyersdean,2,2019-01-10T01:13:57Z,updated readme and uncomment getgreet method,6,NaN,-1,-1,joshmyersdean,63717453c62cabdc95b1357180229d83,lab1
3,wwu-csci-145/lab1-joshmyersdean,2,2019-01-10T01:13:34Z,Update README.md,4,failed,-1,-1,joshmyersdean,63717453c62cabdc95b1357180229d83,lab1
4,wwu-csci-145/lab1-joshmyersdean,2,2019-01-10T01:11:05Z,updated readme and uncommented getGreet method,7,NaN,-1,-1,joshmyersdean,63717453c62cabdc95b1357180229d83,lab1

In [27]:
data = pd.read_csv('./data/processed/commit_hash.csv')
data = data.drop('repo_name', 1)
data = data.drop('repo_index', 1)
data = data.drop('username', 1)
data = data.rename({'id': 'id_hash'}, axis=1)
data.to_csv('./data/processed/commit_hash.csv', index=False)
data.head()

,timestamp,comment,changes,build_state,tests_passed,tests_run,username_hash,lab
0,2019-01-10T01:19:57Z,Update README.md\n\nfixed readme,8,passed,2147483647,2147483647,63717453c62cabdc95b1357180229d83,lab1
1,2019-01-10T01:18:57Z,updated everything,4,passed,2147483647,2147483647,63717453c62cabdc95b1357180229d83,lab1
2,2019-01-10T01:13:57Z,updated readme and uncomment getgreet method,6,NaN,-1,-1,63717453c62cabdc95b1357180229d83,lab1
3,2019-01-10T01:13:34Z,Update README.md,4,failed,-1,-1,63717453c62cabdc95b1357180229d83,lab1
4,2019-01-10T01:11:05Z,updated readme and uncommented getGreet method,7,NaN,-1,-1,63717453c62cabdc95b1357180229d83,lab1

## Username

In [22]:
usernames_hash = []
usernames = []

with open('./data/raw/usernames.csv') as csvfile:
    repos = csv.reader(csvfile, delimiter=',')
    next(repos)
    for row in repos:
        username = row[4].lower()
        usernames.append(username)
        hash_object = hashlib.md5(username.encode())
        hex_dig = hash_object.hexdigest()
        usernames_hash.append(hex_dig)


data = pd.read_csv('./data/raw/usernames.csv')
data['username_hash'] = usernames_hash
data.to_csv('./data/processed/username_hash.csv', index=False)
data.head()

,name,id,section,attempt,username,username_hash
0,Elaine Mahiai,3800008,11715,1,elainemahiai,ecd98b877223abc2a6ac8793a183e8b7
1,Ricky Barich,3716471,11715,1,RickyBarich,a28b86552d3a67e4978471b9726a8506
2,Kai Arakawa Hicks,3768353,11713,1,KaiHicks,ccbf8e7ce9f933871e9f79d53e9489f6
3,Karl Anderson,3679240,11714,1,ander681,6493bc43b10c5e31303ef5fc3e25e0a2
4,Adair Trachta-Magruder,3704565,11713,1,adairtm,b79d4b625d2e5bdd78ad57cf255c16af

In [23]:
data = pd.read_csv('./data/processed/username_hash.csv')
data = data.drop('name', 1)
data = data.drop('username', 1)
data = data.rename({'id': 'id_hash'}, axis=1)
data.to_csv('./data/processed/username_hash.csv', index=False)
data.head()

   id_hash  section  attempt                     username_hash
0  3800008    11715        1  ecd98b877223abc2a6ac8793a183e8b7
1  3716471    11715        1  a28b86552d3a67e4978471b9726a8506
2  3768353    11713        1  ccbf8e7ce9f933871e9f79d53e9489f6
3  3679240    11714        1  6493bc43b10c5e31303ef5fc3e25e0a2
4  3704565    11713        1  b79d4b625d2e5bdd78ad57cf255c16af